<html>
<head>

</head>
<body>
    <div style="align-content: center">
        <div style="align-content: center">Successfully Registered!</div>
        <button><a href="https://smart-pet-feeder-frontend.herokuapp.com/home">Go To Smart Pet Feeder</a></button>
    </div>
</body>
</html>